<!-- fragment for the head part with the links on external files -->
<div class="hidden" th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
    <script src="/js/js.js"></script>
</div>

<!-- fragment for the header which is the navigation bar -->
<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav>
        <dl>
            <dd><a th:href="@{/todoliste/student}">Daten</a></dd>
            <dd><a th:href="@{/todoliste/logout}">Logout</a></dd>
        </dl>
    </nav>
</div>

<!-- fragment with the content for the footer -->
<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <footer>&copy; Copyright Gruppe 3 2019</footer>
</div>

