<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo Eintragen</title>
</head>
<body>

<!-- WRAP VORBEREITET FÜR LOGIN STATUS-->

<!--
<p th:if="${log == null}">Du muss eingeloggt sein</p>

<div th:if="${log}" class="container">

    <p>Du bist eingeloggt</p>

</div>
-->

    <hr>


<div th:if="${todos == null}" class="container">

    <p>Du bist eingeloggt</p>


    <fieldset>
        <form method="post" th:action="@{/todoForm/add}" th:object="${todos}">
            <h3>Neue </h3>
            <p>Beschreibung <input type="text" th:field="*{description}" /></p>
            <p>Date <input type="text" th:field="*{date}" /></p>
            <p>Person ID<input type="text" th:field="*{personFk}" /></p>

            <p><input type="submit" value="Senden" /> <input type="reset" value="Reset" /></p>
        </form>
    </fieldset>
</div>

<div th:if="${todos}" class="container">
    <fieldset>
        <form method="post" th:action="@{/todoForm/update}" th:object="${todos}">
            <h3>Neue </h3>
            <p>Beschreibung <input type="text" th:field="*{description}" /></p>
            <p>Date <input type="text" th:field="*{date}" /></p>
            <p>Person ID<input type="text" th:field="*{personFk}" /></p>

            <p><input type="submit" value="Senden" /> <input type="reset" value="Reset" /></p>
        </form>
    </fieldset>

</div>

    <hr>



</body>
</html>